.sign-up{
  background-color: lightgoldenrodyellow;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up input{
  width: 300px;
  margin: 10px 0px;
  padding: 10px 20px;
}

.sign-up button{
  width: 150px;
  background-color: transparent;
  border: 1px solid #f51585;
  color: #f51585;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
}